Host bastion
#Host bastion.1901.example.opentlc.com
  Hostname bastion.1901.example.opentlc.com
  IdentityFile /Users/tok/.ssh/ankay-labs.pem
  ForwardAgent yes
  User ankay-redhat.com
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  StrictHostKeyChecking no

Host *.1901.internal
  User ec2-user
  IdentityFile ./ssh/1901key.pem
  ProxyCommand ssh bastion.1901.example.opentlc.com -W %h:%p
  StrictHostKeyChecking no

Host workstation-c252.rhpds.opentlc.com
 Hostname workstation-c252.rhpds.opentlc.com
 IdentityFile ~/.ssh/openstack.pem
 ForwardAgent yes
 User cloud-user
 StrictHostKeyChecking no
 PasswordAuthentication no

Host 10.10.10.*
 User cloud-user
 IdentityFile ~/.ssh/openstack.pem
 ProxyCommand ssh cloud-user@workstation-c252.rhpds.opentlc.com -W %h:%p -vvv
 StrictHostKeyChecking no
