[defaults]
# Optional inventory file for laptop etc
inventory                   = hosts
retry_files_enabled         = false

# Optional ssh configuration if not using three-tier-app config
[ssh_connection] 
# ssh_args                    = -F ./ssh.cfg
# Uncomment below to work from your laptop
# ssh_args                    = -F ./ssh-laptop.cfg
